In [2]:
import numpy as np

In [3]:
print("H")

H

In [1]:
print("Get")

Get

In [4]:
print("Hrlo")

Hrlo

In [5]:
np.arange(3)

array([0, 1, 2])

In [6]:
import tensorflow as tf

In [7]:
tf.__version__

'2.16.1'

In [8]:
import numpy as np
import pandas as pd
from numpy.random import randint

In [9]:
index=['A','B','C','D','E']
columns=['U','V','X','Y']

In [11]:
np.random.seed(42)
data=randint(-100,100,(5,4))

In [12]:
data

array([[  2,  79,  -8, -86],
       [  6, -29,  88, -80],
       [  2,  21, -26, -13],
       [ 16,  -1,   3,  51],
       [ 30,  49, -48, -99]])

In [13]:
df=pd.DataFrame(data,index,columns)

In [14]:
df

    U   V   X   Y
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [15]:
df[df>0]

    U     V     X     Y
A   2  79.0   NaN   NaN
B   6   NaN  88.0   NaN
C   2  21.0   NaN   NaN
D  16   NaN   3.0  51.0
E  30  49.0   NaN   NaN

In [16]:
df>0

      U      V      X      Y
A  True   True  False  False
B  True  False   True  False
C  True   True  False  False
D  True  False   True   True
E  True   True  False  False

In [19]:
df[df['X']>0]['Y']

B   -80
D    51
Name: Y, dtype: int32

In [20]:
import pandas as pd